<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Milk Money App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>

  <body class="no-select">
    
    <div class="cloud" id="cloud1"></div>
    <div class="cloud" id="cloud2"></div>
    <div class="cloud" id="cloud3"></div>
    <input type="checkbox" id="day-night-checkbox" onclick="dayNight()">

    <div id="container">

      <h1 id="heading">Moooolah!</h1>

      <div id="cow-container">
        <audio src="audio/moo.mp3" preload="auto" id="moo"></audio>
        <img src="images/daycow.png" id="cow" alt="a female cartoon cow" onclick="pokeTheCow()">
        <div id="speech-bubble">
          <p id="cow-speech"></p>
        </div>
        <div id="buttons">
          <audio src="audio/cowbell.mp3" preload="auto" id="cowbell"></audio>
          <button onclick="buttonOneClick()" id="button-1" class="button">I bought milk</button>
          <button onclick="buttonTwoClick()" id="button-2" class="button">I drank milk</button>
          <button onclick="buttonThreeClick()" id="button-3" class="button">I spilt milk</button>
        </div>
      </div>

      <div id="noticeboard">
        <div id="noticeboard-text"><h2>Here is today's leaderboard!</h2><p><br>1. Doug<br>2. Alison<br>3. Reuben<br>4. Alex</b2></p></div>
        <div id="tabs">
          <audio src="audio/cowpat.mp3" preload="auto" id="cowpat"></audio>
          <button onclick="tabOneClick()" id="tab-1" class="tab">Leaderboard</button>
          <button onclick="tabTwoClick()" id="tab-2" class="tab">My milk balance</button>
          <button onclick="tabThreeClick()" id="tab-3" class="tab">Recent milk usage</button>
          <button onclick="tabFourClick()" id="tab-4" class="tab">My Account</button>
        </div>
      </div>

      <footer id="footer">Hello I am the footer 2024</footer>
    </div>
       
	  <script src="index.js"></script>
  </body>
</html>