<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moola Homepage</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>

  <body class="no-select">
    
    <div class="cloud" id="cloud1"></div>
    <div class="cloud" id="cloud2"></div>
    <div class="cloud" id="cloud3"></div>
    <input type="checkbox" id="day-night-checkbox" onclick="dayNight()">

    <div id="container">

      <h1 id="heading">Moola!</h1>

      <div id="navbar">
        <img src="images/badgericon.png" title="click for user settings" id="user-icon" onclick="openNavbarModal('settings')">
        <p>Welcome Doug!</p>
        <i class="fas fa-volume-up" id="moot-button" title="to moo or not to moo" onclick="mootButton()" ></i>
        <i class="fas fa-question" title="ask for help" id="help-button" onclick="openNavbarModal('help')"></i> 
      </div>

      <div id="cow-container">
        <audio src="audio/moo.mp3" preload="auto" id="moo"></audio>
        <audio src="audio/baa.mp3" preload="auto" id="baa"></audio>
        <audio src="audio/goat.mp3" preload="auto" id="goat"></audio>
        <audio src="audio/queen.mp3" preload="auto" id="queen"></audio>
        <img src="images/daycow.png" id="cow" alt="a female cartoon cow" onclick="pokeTheCow()">
        <div id="speech-bubble" onclick="style='opacity: 0'">
          <p id="cow-speech"></p>
        </div>
        <div id="buttons">
          <audio src="audio/cowbell.mp3" preload="auto" id="cowbell"></audio>
          <button onclick="boughtMilk()" id="bought-milk" class="button">I bought milk</button>
          <button onclick="drankMilk()" id="drank-milk" class="button">I drank milk</button>
          <button onclick="needMilk()" id="need-milk" class="button">We need milk</button>
          <button onclick="ruminate()" id="ruminate" class="button">Ruminations</button>
        </div>
      </div>

      <div id="noticeboard-container">
        <audio src="audio/milkpour.mp3" preload="auto" id="milk-pour"></audio>
        <audio src="audio/milkpourup2.mp3" preload="auto" id="milk-pour-up"></audio>
        <audio src="audio/confetti.mp3" preload="auto" id="confetti"></audio>
        <!-- noticeboard content rendered to this div -->
        <div id="noticeboard">
          <!-- modal also rendered to noticeboard-->
        </div>
        <div id="tabs">
          <audio src="audio/cowpat.mp3" preload="auto" id="cowpat"></audio>
          <button onclick="displayLeaderboards()" id="tab-1" class="tab">Leaderboards</button>
          <button onclick="displayBalance()" id="tab-2" class="tab">My moonit balance</button>
          <button onclick="displayDailyQuiz()" id="tab-3" class="tab">Daily Quiz</button>
          <button onclick="displayAbout()" id="tab-4" class="tab">About Moola!</button>
        </div>
      </div>

      <footer id="footer">
        <div class="left">
          <span class="fa fa-regular fa-copyright"></span>
          <p class="footer-text">Badger 2024</p>
          <audio src="audio/badger.mp3" preload="auto" id="badger"></audio>
          <img src="images/badger.png" onclick="badger.play()">
          
        </div>
        <span class="right">
          Follow me:
          <a href="https://github.com/igorgetmeabrain" target="_blank" class="follow"><span class="fab fa-github"></span> GitHub</a>
          <a href="https://www.freecodecamp.org/igorgetmeabrain" target="_blank" class="follow">freeCodeCamp <span class="fab fa-free-code-camp"></span></a>
          <a href="https://codepen.io/igorgetmeabrain" target="_blank" class="follow"><span class="fab fa-codepen"></span> CodePen</a>
        </span>
      </footer>
    </div>

    <!--navbar modal-->
    <div id ="navbar-modal" class="modal hidden"></div>
    <!-- modal overlay -->
    <div class="overlay hidden"></div>

    <!-- orientation warning -->
    <div id="orientation">
      <div class="phone"><img src="images/daycowrotated.png" id="orient-img"></div>
      <div class="message">Please rotate your device!</div>
    </div>

    <script src="https://kit.fontawesome.com/d1e8eb8a9f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
	  <script src="index.js"></script>
  </body>
</html>