<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Milk Money App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>

  <body class="no-select">
    
    <div class="cloud" id="cloud1"></div>
    <div class="cloud" id="cloud2"></div>
    <div class="cloud" id="cloud3"></div>
    <input type="checkbox" id="day-night-checkbox" onclick="dayNight()">

    <div id="container">

      <h1 id="heading">Milk Moolah</h1>

      <div id="cow-container">
        <audio src="audio/moo.mp3" preload="auto" id="moo"></audio>
        <img src="images/daycow.png" id="cow" alt="a female cartoon cow" onclick="theCowSpeaks(whatTheCowSays)">
        <div id="speech-bubble">
          <p id="cow-speech"></p>
        </div>
      </div>

      <div id="noticeboard">
        <div id="noticeboard-text"><h2>Here is today's leaderboard!</h2><p><br>1. Doug<br>2. Alison<br>3. Reuben<br>4. Alex</b2></p></div>
      </div>

      <div id="buttons">
        <audio src="audio/cowbell.mp3" preload="auto" id="cowbell"></audio>
        <button onclick="buttonSound()" id="button-1" class="button">I bought some milk</button>
        <button onclick="buttonSound()" id="button-2" class="button">I drank some milk</button>
        <button onclick="buttonSound()" id="button-3" class="button">I lost some milk</button>
        <button onclick="buttonSound()" id="button-4" class="button">I found some milk</button>
        <button onclick="buttonSound()" id="button-5" class="button">I spilt some milk</button>
      </div>

      <footer id="footer">Hello I am the footer 2024</footer>

    </div>
    
    
	  <script src="index.js"></script>
  </body>
</html>