<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moola Login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css" type="text/css">
  </head>

  <body class="no-select">
    <div id="container">

      <h1 id="heading">Welcome to Moola!</h1>

      <audio src="audio/moo.mp3" preload="auto" id="moo"></audio>
      <img src="images/daycow.png" id="cow" alt="a female cartoon cow" onclick="">
      
      <form id="login-form" action="/authenticate" method="POST">
        <input type="text" name="username" placeholder="please enter your username">
        <input type="password" name="password" placeholder="please enter your password">
        <button type="submit">Login</button>
        <a id="forgot-password" href="/forgot-password">Forgotten password?</a>
        <a id="create-account" href="/create-account">New to Moolah? Create an account</a>
      </form>

      <footer id="footer">Hello I am the footer 2024</footer>
      
    </div>
    
       
	  <script src="login.js"></script>
  </body>
</html>