/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: grab;
  background-image: linear-gradient(180deg,
      hsl(240deg 96% 82%) 0%,
      hsl(198deg 100% 50%) 33%,
      hsl(194deg 100% 50%) 46%,
      hsl(188deg 100% 47%) 52%,
      hsl(170deg 100% 41%) 56%,
      hsl(145deg 100% 40%) 57%,
      hsl(126deg 96% 40%) 58%,
      hsl(126deg 96% 40%) 59%,
      hsl(126deg 96% 40%) 59%,
      hsl(126deg 96% 40%) 60%,
      hsl(126deg 96% 40%) 60%,
      hsl(126deg 96% 40%) 61%,
      hsl(126deg 96% 40%) 62%,
      hsl(126deg 96% 40%) 64%,
      hsl(126deg 96% 40%) 66%,
      hsl(126deg 96% 40%) 69%,
      hsl(126deg 96% 40%) 72%,
      hsl(126deg 96% 40%) 75%,
      hsl(126deg 96% 40%) 79%,
      hsl(126deg 96% 40%) 84%,
      hsl(126deg 96% 40%) 89%,
      hsl(126deg 96% 40%) 94%,
      hsl(126deg 96% 40%) 100%);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  display: grid;
  grid-template-areas:
    "header"
    "login"
    "footer";
  grid-template-rows: 12% 77% 10%;
  background: hsla(0, 0%, 0%, 0.7);
  height: 100vh;
}

h1 {
  grid-area: header;
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: clamp(2rem, 4.5vw, 5rem);
}

#cow {
  position: absolute;
  top: 300px;
  left: 50px;
  height: 150px;
  filter: blur(3px);
}

#login-form {
  position: relative;
  grid-area: login;
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 35%;
  background-color: hsla(0 0% 40% / 0.7);
  border: 3px solid gold;
  padding: 2% 1% 0 1%;
}

#login-form input {
  text-align: center;
}

#login-form button {
  display: block;
  margin: auto;
  width: 25%;
}

#links {
  margin-top: 6%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

#links a {
  font-size: 0.9rem;
  text-decoration: none;
	color: gold;
}

#links a:hover {
  color: orange;
}

label {
  font-size: 1.25rem;
}

input {
  display: block;
  margin: auto;
  background: hsl(0 0% 80%);
  margin-bottom: 1%;
  width: 80%;
  height: 2rem;
  padding: 2%;
}

footer {
	grid-area: footer;
  margin-top: 2%;
	text-align: center;
	font-size: 1.2rem;
	color: gold;
	z-index: 3;
}

footer .left {
  float: left;
	margin-left: 10px;
}
	
.footer-text {
	display: inline-block;
}

footer img {
	display: inline;
	padding-top: 2%;
	height: 33px;
}
	
footer .right {
	float: right;
	width: 50%;
	padding-top: 1%;
}

footer a {
  text-decoration: none;
	color: gold;
  display: inline;
	margin: 0 2%;
}

footer a:hover {
	color: orange;
}

