/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */
body {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: grab;
  background-image: linear-gradient(180deg, hsl(240, 96%, 82%) 0%, hsl(198, 100%, 50%) 33%, hsl(194, 100%, 50%) 46%, hsl(188, 100%, 47%) 52%, hsl(188, 100%, 47%) 56%, hsl(188, 100%, 47%) 57%, hsl(188, 100%, 47%) 58%, hsl(170, 100%, 41%) 59%, hsl(126, 96%, 40%) 60%, hsl(126, 96%, 40%) 60%, hsl(126, 96%, 40%) 61%, hsl(126, 96%, 40%) 62%, hsl(126, 96%, 40%) 64%, hsl(126, 96%, 40%) 66%, hsl(126, 96%, 40%) 69%, hsl(126, 96%, 40%) 72%, hsl(126, 96%, 40%) 75%, hsl(126, 96%, 40%) 79%, hsl(126, 96%, 40%) 84%, hsl(126, 96%, 40%) 89%, hsl(126, 96%, 40%) 94%, hsl(126, 96%, 40%) 100%);
}
body::before {
  content: "";
  width: 100vw;
  height: 40vh;
  background-image: url(./images/grasstexture.jpg);
  z-index: 0;
  background-repeat: repeat;
  position: absolute;
  top: 60vh;
  left: 0;
  opacity: 0.2;
  filter: blur(1px);
}

/* checkbox is sun/moon icon: background changes when checked */
body:has(input[type=checkbox]:checked) {
  background-image: linear-gradient(180deg, hsl(240, 88%, 19%) 0%, hsl(222, 100%, 19%) 33%, hsl(214, 100%, 15%) 46%, hsl(200, 100%, 10%) 52%, hsl(200, 100%, 10%) 56%, hsl(200, 100%, 10%) 57%, hsl(200, 100%, 10%) 58%, hsl(126, 76%, 6%) 59%, hsl(127, 87%, 5%) 60%, hsl(127, 93%, 5%) 60%, hsl(127, 100%, 5%) 61%, hsl(127, 100%, 5%) 62%, hsl(127, 100%, 4%) 64%, hsl(127, 100%, 4%) 66%, hsl(127, 100%, 4%) 69%, hsl(127, 100%, 4%) 72%, hsl(126, 97%, 4%) 75%, hsl(126, 92%, 5%) 79%, hsl(125, 88%, 6%) 84%, hsl(124, 86%, 7%) 89%, hsl(125, 88%, 7%) 94%, hsl(126, 95%, 8%) 100%);
}
body:has(input[type=checkbox]:checked)::after {
  content: "";
  width: 100vw;
  height: 60vh;
  background-image: url(./images/milkyway.jpg);
  background-size: cover;
  z-index: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

#day-night-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 80px;
  width: 80px;
  position: absolute;
  background: yellow;
  border-radius: 50%;
  border: 1px solid white;
  top: 50px;
  right: 50px;
  box-shadow: -2px 5px 86px 43px rgb(223, 242, 14);
  z-index: 1;
}
#day-night-checkbox:checked {
  border: none;
  background: transparent;
  border-radius: 50%;
  box-shadow: 18px 10px 0px 0px white;
  top: 40px;
  right: 75px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cloud {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 100px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
  translate: 0;
  z-index: 2;
}
.cloud:hover {
  translate: 70vw;
}

#cloud1 {
  top: 18vh;
  left: 2vw;
  width: 8vw;
  height: 6vh;
  transition: translate 10s;
}
#cloud1::after {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 3vw;
  height: 6vh;
  top: -4vh;
  left: -3vw;
}
#cloud1::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 4vw;
  height: 8vh;
  top: -4vh;
  left: 3vw;
}

#cloud2 {
  top: 14vh;
  left: 11vw;
  width: 5vw;
  height: 4.5vh;
  transition: translate 5s;
}
#cloud2::after {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 2vw;
  height: 4vh;
  top: -2vh;
  left: -2vw;
}
#cloud2::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 2.5vw;
  height: 5vh;
  top: -2vh;
  left: 1.75vw;
}

#cloud3 {
  top: 7vh;
  left: 18vw;
  width: 10vw;
  height: 9vh;
  transition: translate 20s;
}
#cloud3::after {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 4vw;
  height: 8vh;
  top: -5vh;
  left: -4vw;
}
#cloud3::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  width: 5.5vw;
  height: 11vh;
  top: -4vh;
  left: 3.5vw;
}

#container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 16vh 78vh 6vh;
  grid-template-areas: "header header" "cow noticeboard" "footer footer";
  background: transparent;
  overflow: hidden;
}

/* NAVBAR STYLES */
#navbar {
  position: absolute;
  width: 96%;
  display: flex;
  align-items: center;
  top: 3%;
  left: 2%;
  color: gold;
  font-size: 1.5rem;
  z-index: 1;
}
#navbar img {
  float: left;
  border-radius: 50%;
  height: 40px;
}
#navbar img:hover {
  border: 2px solid darkgreen;
}
#navbar p {
  margin-left: 5px;
}
#navbar i {
  position: relative;
  left: 55%;
  width: 40px;
  margin-left: 2%;
}
#navbar i:hover {
  color: orange;
}

#navbar-modal {
  position: absolute;
  top: 9%;
  height: 80%;
  width: 20%;
  background: white;
  border: 3px solid darkgreen;
  border-radius: 3px;
  z-index: 7;
}
#navbar-modal label {
  display: block;
  margin-top: 4%;
  font-size: 0.9rem;
}
#navbar-modal select {
  font-size: 0.8rem;
}
#navbar-modal input {
  width: 80%;
}
#navbar-modal a {
  display: block;
  margin-top: 10%;
  font-size: 1.2rem;
  text-decoration: none;
  color: red;
}

#icon-select {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1%;
}
#icon-select img {
  width: 15%;
  margin: 4px 8px;
  border-radius: 50%;
}

/* END OF NAVBAR STYLES */
h1 {
  width: 40%;
  margin: auto;
  font-family: "Bungee Shade", serif;
  font-weight: 400;
  grid-area: header;
  color: white;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  background-clip: text;
  -webkit-text-stroke: 2px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(2rem, 7vw, 6rem);
  z-index: 1;
}

h2 {
  font-size: clamp(1rem, 2vw, 3rem);
}

#cow-container {
  grid-area: cow;
  display: grid;
  grid-template-areas: "cow speech" "buttons buttons";
  grid-template-columns: 50% 50%;
  grid-template-rows: 66vh 12vh;
  max-width: 100%;
  background: transparent;
  z-index: 4;
}

#cow {
  grid-area: cow;
  max-height: 100%;
  margin-top: 15%;
}

#speech-bubble {
  grid-area: speech;
  display: flex;
  align-items: center;
  justify-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110%;
  max-height: 70%;
  margin-top: 5%;
  opacity: 0;
  transition: opacity 0.3s;
}
#speech-bubble p {
  margin: -30% 0 0 -3%;
  padding: 0 11%;
}

#buttons {
  grid-area: buttons;
  padding: 1%;
}

.button {
  display: inline-block;
  margin-top: 2%;
  height: 40px;
  padding: 3px 6px;
  background: green;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border: 3px solid darkgreen;
  border-radius: 3%;
  box-shadow: 5px 5px 5px black;
}
.button:hover {
  color: orange;
}
.button:active {
  box-shadow: none;
  transform: translateY(3px);
}

/* NOTICEBOARD STYLES */
#noticeboard-container {
  grid-area: noticeboard;
  background: transparent;
  position: relative;
  max-width: 100%;
  z-index: 4;
}

#noticeboard {
  display: block;
  margin: auto;
  margin-top: 6%;
  padding: 2%;
  width: 80%;
  height: 80%;
  background: white;
  border: 5px solid white;
  border-radius: 1%;
  box-shadow: 5px 5px 30px 5px black;
}

#tabs {
  display: block;
  margin: auto;
}

.tab {
  display: inline-block;
  margin: 0 -4px;
  height: 40px;
  padding: 3px 6px;
  font-size: 1.1rem;
  line-height: normal;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  border-radius: 3%;
  box-shadow: 5px 5px 5px black;
}
.tab:hover {
  color: orange;
}
.tab:active {
  box-shadow: none;
  transform: translateY(3px);
}

/* END OF NOTICEBOARD STYLES */
.leaderboard {
  display: block;
  margin: auto;
  color: blue;
  border: 5px solid blue !important;
}

/* BALANCE STYLES */
.moonit-balance {
  display: grid !important;
  grid-template-columns: 25% 75% !important;
  color: red;
  border: 5px solid red !important;
}

#totaliser {
  height: 100%;
  width: 90%;
  margin-top: -3%;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  border-radius: 3px;
}

.scale {
  margin: 0;
  height: 1px;
  padding: 1px 20%;
}

hr {
  margin: 0 0 0 -4%;
  border: 4px solid grey;
  border-radius: 3px;
  width: 108%;
}

#counter {
  margin-top: -1%;
  margin-left: -1%;
  width: 103%;
  text-align: center;
  font-size: 1.5rem;
  border: 3px solid gray;
  border-radius: 3px;
}

ul {
  list-style: none;
}

#balance-display {
  margin: 5% 0;
}

#transactions-text {
  margin: 2% 0;
}

/* END OF BALANCE STYLES */
.daily-quiz {
  color: darkorange;
  border: 5px solid darkorange !important;
}

.about {
  color: purple;
  border: 5px solid purple !important;
}

/* MODAL STYLES */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

#modal {
  position: relative;
  top: -2%;
  left: -2%;
  height: 104%;
  width: 104%;
  background: hsla(0, 0%, 40%, 0.7);
  color: black;
  border: 5px solid gold;
  border-radius: 3px;
  z-index: 5;
}
#modal input {
  margin-top: 2%;
  padding: 0.25rem 0.5rem;
  width: 35%;
  border-radius: 3px;
  font-size: 0.9em;
}
#modal img {
  transform: translate(10px, 10px);
}

#result-div {
  display: block;
  margin: auto;
  margin-top: 4%;
  width: 80%;
  height: 20%;
  padding: 1%;
  font-size: 1.2rem;
}

.result-div {
  background: hsl(0, 0%, 50%);
  border: 3px solid gold;
}

.modal-button {
  display: block;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  font-size: 1.2em;
}
.modal-button:hover {
  background: gold;
}
.modal-button:disabled {
  background: gray;
  color: darkgray;
}

.modal-close-button {
  transform: translate(-10px, 0px);
  width: 2.5rem;
  padding: 0.5rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 3;
}

.hidden {
  display: none;
}

/* END OF MODAL STYLES */
footer {
  grid-area: footer;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 10px;
  color: gold;
  z-index: 3;
}
footer .left {
  float: left;
  margin-left: 10px;
}
footer .left .footer-text {
  display: inline-block;
}
footer .left img {
  display: inline;
  padding-top: 2%;
  height: 33px;
}
footer .right {
  float: right;
  width: 40%;
  padding-top: 1%;
  margin-right: 10px;
}
footer .right a {
  display: inline;
  margin: 0 2%;
  text-decoration: none;
  color: gold;
}
footer .right a:hover {
  color: orange;
}

/* STYLES FOR ORIENTATION WARNING */
#orientation {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 5;
  display: none;
}

.phone {
  margin: auto;
  margin-top: 45%;
  height: 200px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 2s ease-in-out infinite alternate;
  z-index: 6;
  display: none;
}
.phone img {
  height: 75px;
  position: absolute;
  animation: slippy 2s ease-in-out infinite alternate;
}

.message {
  margin: auto;
  margin-top: 2%;
  color: white;
  font-size: 1em;
  z-index: 6;
  display: none;
}

@media (orientation: portrait) {
  #orientation {
    display: block;
  }
  .phone {
    display: block;
  }
  .message {
    display: block;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes slippy {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(120px);
  }
}
/* END OF STYLES FOR ORIENTATION WARNING *//*# sourceMappingURL=styles.css.map */